@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: 0;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  background-image: radial-gradient(circle at 67% 83%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), -webkit-gradient(linear, left top, right top, from(#16b0cf), to(#6707d7));
  background-image: radial-gradient(circle at 67% 83%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(245, 245, 245, 0.05) 0%, rgba(245, 245, 245, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, #16b0cf, #6707d7);
}

#calculator {
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: HSL(0, 0%, 10%);
  border-radius: 1.5rem;
}

#display {
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 100;
  font-size: large;
  font-family: "Source Code Pro", monospace;
}

#display #results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 5rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  color: white;
}

#display h2 {
  min-height: 2rem;
}

#display h4 {
  margin-bottom: 1rem;
  min-height: 1rem;
}

#buttons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

#buttons .button-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#buttons .button {
  background: transparent;
  font-weight: bolder;
  font-size: large;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#buttons .operator-btn {
  background: HSL(34, 95%, 52%);
  color: white;
}

#buttons .digit-btn {
  background: HSL(0, 0%, 49%);
  color: white;
}

#buttons .function-btn {
  background: HSL(0, 0%, 75%);
}

#buttons .long-btn {
  grid-column: span 2 / auto;
  width: auto;
  border-radius: 1.5rem;
}
/*# sourceMappingURL=style.css.map */