$calc-bg-color: HSL(0, 0%, 10%);
$calc-operator-button-color: HSL(34, 95%, 52%);
$calc-function-button-color: HSL(0, 0%, 75%);
$calc-digit-button-color: HSL(0, 0%, 49%);

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    background-image: radial-gradient(
            circle at 67% 83%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 1%,
            transparent 1%,
            transparent 5%,
            transparent 5%,
            transparent 100%
        ),
        radial-gradient(
            circle at 24% 80%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 27%,
            transparent 27%,
            transparent 63%,
            transparent 63%,
            transparent 100%
        ),
        radial-gradient(
            circle at 23% 5%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 26%,
            transparent 26%,
            transparent 82%,
            transparent 82%,
            transparent 100%
        ),
        radial-gradient(
            circle at 21% 11%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 35%,
            transparent 35%,
            transparent 45%,
            transparent 45%,
            transparent 100%
        ),
        radial-gradient(
            circle at 10% 11%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 21%,
            transparent 21%,
            transparent 81%,
            transparent 81%,
            transparent 100%
        ),
        radial-gradient(
            circle at 19% 61%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 20%,
            transparent 20%,
            transparent 61%,
            transparent 61%,
            transparent 100%
        ),
        radial-gradient(
            circle at 13% 77%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 63%,
            transparent 63%,
            transparent 72%,
            transparent 72%,
            transparent 100%
        ),
        radial-gradient(
            circle at 30% 93%,
            hsla(317, 0%, 96%, 0.05) 0%,
            hsla(317, 0%, 96%, 0.05) 33%,
            transparent 33%,
            transparent 82%,
            transparent 82%,
            transparent 100%
        ),
        linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));
}

#calculator {
    // height: 100vh;
    padding: 1rem 1rem;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $calc-bg-color;
    border-radius: 1.5rem;
}

#display {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-weight: 100;
    font-size: large;
    font-family: "Source Code Pro", monospace;

    #results {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-height: 5rem;
        margin-bottom: 2rem;
        margin-right: 0.5rem;
        color: white;
    }

    h4 {
        margin-bottom: 1rem;
    }
}

#buttons {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .button-container {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .button {
        background: transparent;
        font-weight: bolder;
        font-size: large;
        user-select: none;
    }

    .operator-btn {
        background: $calc-operator-button-color;
        color: white;
    }

    .digit-btn {
        background: $calc-digit-button-color;
        color: white;
    }

    .function-btn {
        background: $calc-function-button-color;
    }

    .long-btn {
        grid-column: span 2 / auto;
        width: auto;
        border-radius: 1.5rem;
    }
}
